Source: xcowsay
Section: games
Priority: optional
Maintainer: Nick Gasson <nick@nickg.me.uk>
Build-Depends: debhelper (>= 5), autotools-dev,
               libgtk2.0-dev, libglib2.0-dev
Standards-Version: 3.8.3
Homepage: http://www.doof.me.uk/xcowsay/

Package: xcowsay
Architecture: any
Depends: ${shlibs:Depends}, libgtk2.0-0, libglib2.0-0
Description: Graphical configurable talking cow
 A graphical configurable talking cow. It's a GTK+ version of the 
 classic cowsay Perl script. It displays a cute pop-up cow on your 
 desktop with a speech bubble and some customizable text. There's 
 also a dream mode where the cow can display images. It comes
 with a fortune(6) wrapper script, xcowfortune, which you can cron
 to deliver periodic fortune cookies via the cow. 
