Source: xcowsay
Section: games
Priority: optional
Maintainer: Nick Gasson <nick@cakesniffer.co.uk>
Build-Depends: debhelper (>= 5), autotools-dev,
               libgtk2.0-dev, libdbus-glib-1-dev,
               libdbus-1-dev, libglib2.0-dev
Standards-Version: 3.7.2

Package: xcowsay
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
         libgtk2.0-0, libdbus-glib-1-2,
         libdbus-1-3, libglib2.0-0
Description: Graphical configurable talking cow
 A graphical configurable talking cow. It's a GTK+ version of the 
 classic cowsay Perl script. It displays a cute pop-up cow on your 
 desktop with a speech bubble and some customizable text. It comes
 with a fortune(6) wrapper script, xcowfortune, which you can cron
 to deliver periodic fortune cookies of joy via the cow. It even has
 a daemon mode which lets you send the cow messages over DBus!
