Source: xcowsay
Section: games
Priority: optional
Maintainer: Nick Gasson <nick@cakesniffer.co.uk>
Build-Depends: debhelper (>= 5), autotools-dev,
               libgtk2.0-dev, libdbus-glib-1-dev,
               libdbus-1-dev, libglib2.0-dev
Standards-Version: 3.7.2

Package: xcowsay
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
         libgtk2.0-0, libdbus-glib-1-2,
         libdbus-1-3, libglib2.0-0
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
